@layer reset, base, tokens, recipes, utilities;

@font-face {
    font-family: 'BastardoGrotesk';
    font-weight: 200;
    src: url(../bastardo/BastardoGrotesk-Thin.ttf) format('truetype');
}

@font-face {
    font-family: 'BastardoGrotesk';
    font-weight: 300;
    src: url(../bastardo/BastardoGrotesk-Light.ttf) format('truetype');
}

@font-face {
    font-family: 'BastardoGrotesk';
    font-style: normal;
    font-weight: 400;
    src: url(../bastardo/BastardoGrotesk-Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'BastardoGrotesk';
    font-weight: 500;
    src: url(../bastardo/BastardoGrotesk-Semibold.ttf) format('truetype');
}

@font-face {
    font-family: 'BastardoGrotesk';
    font-weight: 600;
    src: url(../bastardo/BastardoGrotesk-Bold.ttf) format('truetype');
}

@font-face {
    font-family: 'BastardoGrotesk';
    font-weight: 700;
    src: url(../bastardo/BastardoGrotesk-Black.ttf) format('truetype');
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

html {
    font-family: 'BastardoGrotesk', serif;
}
